---
layout: default
home-title: Johnson Family Blog
description: We just keep going!
header-img: /assets/img/wheelbarrow.jpg
pagination: 
    enabled: true
    collection: posts
    per_page: 10
    permalink: '/blog/page:num/'
    title: ':title | :num of :max'
    limit: 0
    sort_field: 'date'
    sort_reverse: true
    trail:
        before: 2
        after: 2
    indexpage: '/blog/'
    extension: ''
---

<div
    class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}"
    data-theme="{{ site.theme-color }}"
    style="{% if page.cover %}background: url({{ page.cover | relative_url }}) no-repeat center center; background-size: cover;{% endif %}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
</div>

<main class="g-container home-content">
    <div class="article-list">
        {% if paginator.posts.size > 0 %}
            {% assign pinned_posts = paginator.posts | where: "pin", "true" %}
            {% assign unpinned_posts = paginator.posts | where: "pin", nil %}

            {% if pinned_posts %}
                {% assign pinned_posts = pinned_posts | sort: "date" | reverse %}
                {% for post in pinned_posts %}
                    {% include layouts/paginate-article.html %}
                {% endfor %}
            {% endif %}

            {% if unpinned_posts %}
                {% assign unpinned_posts = unpinned_posts | sort: "date" | reverse %}
                {% for post in unpinned_posts %}
                    {% include layouts/paginate-article.html %}
                {% endfor %}
            {% endif %}
        {% else %}
            <p>No posts found.</p>
        {% endif %}

        {% if paginator.total_pages > 1 %}
            {% include layouts/pageNav.html %}
        {% endif %}
    </div>
    {% include layouts/sidebar.html %}
</main>